# for local development, copy this file to .env and fill in the values
# --- GROQ CONFIGURATION (Main Logic) ---
GROQ_API_KEY=your_groq_api_key_here
LLM_MODEL=llama-3.3-70b-versatile


# for evaluation  of the quey performance, we can use a different model and API key to compare results
# --- OPENROUTER CONFIGURATION (Evaluation) ---
OPEN_ROUTER_API_KEY=your_open_router_api_key_here
OR_LLM_MODEL=anthropic/claude-3-haiku

# --- OTHER SETTINGS ---
LOG_LEVEL=INFO